{% extends '_base.html' %}
{% load django_bootstrap5 %}


{% block page_title %}
    Login
{% endblock page_title %}


{% block content %}

    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="row p-4">
            <div class="col-md-6 col-xl-4 d-flex flex-column">
                {% bootstrap_form form %}
                <button class="btn btn-sm btn-success px-4 mx-auto" type="submit">Login</button>
            </div>
        </div>
    </form>
{% endblock content %}