body{
    background-color: white;
    background-image: url("../pattern.svg");
    background-attachment: fixed;
    background-size: cover;;
}

.mh-30 {
    max-height: 20vh;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fs-10 {
    font-size: 0.8rem !important
}