{% extends '_base.html' %}

{% block page_title %}
    {{ book.title }}
{% endblock page_title %}


{% block content %}
    <div class="col-11 my-2">
        <div class="card shadow border-1 border-white overflow-hidden h-100 rounded-4 h-100">
            <div class="card-img-top mh-30 d-flex">
                <img src="{{ book.cover_image.url }}" class="img-fluid h-100 w-auto mx-auto object-fit-cover" alt="...">
            </div>


            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.description }}</p>
            </div>


            <div class="card-footer d-flex gap-2">
                <a href="{% url 'book_update' book.id %}"
                   class="btn btn-sm btn-outline-secondary rounded-4 mt-auto px-3"><i
                        class="bi bi-pencil"></i>
                    Edit</a>
                <a type="button" class="btn btn-sm btn-outline-danger rounded-4 my-auto"
                   data-bs-toggle="modal" data-bs-target="#deleteConfirm">
                    <i class="bi bi-trash"></i>
                    Delete
                </a>
                <!-- Modal -->
                <div class="modal fade " id="deleteConfirm" tabindex="-1" aria-labelledby="deleteConfirmLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteConfirmLabel">Delete Confirmation</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure that you want to Delete this book?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                                <form method="POST" action="{% url 'book_delete' book.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock content %}